@charset "UTF-8";
/* Valeta Wensloffs's CSS Document.
NOTE: You can replace my name with your name - this part up here is a CSS comment and is not telling the web browser to change the appearance of your html page(s). You could also put other things here, like the colors you picked for a quick reference. I like to do that so I can easily copy and paste the hex numbers when I need them. For Example:
Dark Red: #862e19
Cyan: #45b5dd
Light Gray: #cccccc
Dark Gray: #666666
White: #ffffff
*/

a:link {
	color:#464646;
	text-decoration:underline;
	}

a:hover {
	color:#00D05F;
	text-decoration:underline;
}

/* the html element below is the "background" of your page */
html {
	background-color:#453130;
}

body {
	width: 800px;
	margin: 0em auto; /* this + a defined width, centers the body content */
	padding: 20px;
	background-color: #eaeaea;
}

#nav {
	list-style-type: none;
	background-color: #edb793;
	width: 800px;
	padding: 5px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

#nav a {
	color: #171813;
  font-family: sylfaen, sans-serif;
	font-weight: bold;
	text-decoration:none;
	padding: 20px;

}

#nav li{
display:inline;
}

#nav a:hover {
	text-decoration:underline;
}


h1 {
	color: #171813;
  font-family: sylfaen, sans-serif;
	font-weight: bold;
}

h2 {
	color: #171813;
	font-family: sylfaen, sans-serif;
	font-weight: bold;
}

h3 {
	color: #171813;
	font-family: sylfaen, sans-serif;
	font-weight: bold;
}

/* IMPORTANT: this will put a border around ALL images - so the banner AND the image of you. You may want to remove the border or change it! */
img {
	float: right;
	margin: 0 0 10px 10px;
}


/* The code below here alters your links */
a {
  font-weight: bold;
}

b {
  clear: left;
}

a:hover {
	text-decoration: none;
	color: #006;
}

p {
	padding-right: 240px;
	color: #4a4e11;
	font-family: sylfaen, sans-serif;
	font-size: 18px;
}

div {
	font-weight: bold;
	background-color:#B48666;
}
